@media screen and (max-width: 600px) {
  .tm-header-inner {
    display: block;

    padding: 1rem;
    margin-bottom: 1rem;
  }

  .tm-nav {
    text-align: right;
  }

  .tm-section-title {
    margin: 0 auto;
  }

  .tm-gallery-page {
    margin: 0 auto;
  }

  .img-fluid {
    width: 100%;
  }

  .tm-section-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .tm-gallery {
    margin: 0 auto;
    flex-direction: column;
  }

  .tm-gallery-page {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .tm-gallery-item {
    width: 300px;
  }

  .row {
    flex-direction: column;
  }

  .tm-cta-section {
    width: 100%;
  }
}
