@media screen and (max-width: 600px) {
  #top-bar ul li:nth-child(4) {
    display: none;
  }

  #main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin: 0 auto;
  }

  #main-menu img {
    padding: 0;
  }

  #main-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  #main-menu ul li {
    border: 2px solid #e52236;
    width: 100%;
    text-align: center;
    margin: 3px;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  main #left-aside {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
  }

  #left-aside article {
    border-bottom: none;
  }

  main #news {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  main #news article {
    width: 90%;
    margin: 0 auto;
  }

  main #news article h3 {
    font-size: 1.15rem;
  }

  main #news article p {
    font-size: 0.9rem;
  }

  main #right-aside {
    width: 100%;
    margin: 0;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer ul {
    width: 100%;
  }
}
