@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-font: black;
  --clr-main: #a4c639;
  --clr-secondary: #f7f7f7;
  --clr-btn-text: white;
}

body {
  font-family: "Poppins", sans-serif;
}

.green-text {
  color: var(--clr-main);
}

.btn {
  color: var(--clr-btn-text);
  background-color: var(--clr-main);
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 1.25rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.main .main--title-wrapper {
  margin-bottom: 3rem;
}

.main .main--title {
  font-size: 2rem;
}

.main .main--subtitle {
  font-size: 0.85rem;
}

.main .main--cards-list {
  text-align: left;

  display: flex;
  gap: 1.5rem;
}

.main .main--card {
  width: 300px;
  background-color: var(--clr-secondary);
}

.main .main--card .card-text {
  padding: 1.25rem;
}

.main .main--card .card-title {
  margin-bottom: 0.5rem;
}

.main .main--card .card-desc {
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}
