@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

:root {
    --clr-bg: #e3f3fd;
    --clr-border: #44a9f8;
    --clr-btn: #44a9f8;
    --clr-icon: #44a9f8;
    --clr-font: #5c6b7b;
    --clr-bnt-font: white;
}

body {
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
.price {
    font-family: "Montserrat", sans-serif;
}

i {
    color: var(--clr-icon);
    margin-right: 0.75rem;
}

.price {
    color: var(--clr-icon);
    font-weight: 600;
    font-size: 3rem;
}

.btn {
    background-color: var(--clr-btn);
    color: var(--clr-bnt-font);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    box-shadow: 5px 5px 7px -5px #000000;
    cursor: pointer;
}

.container {
    border-radius: 0.25rem;
    padding: 1.5rem;

    height: 40vh;
}

.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 75%;
}

/* LEFT */
.article .article-left {
    background-color: var(--clr-bg);
    width: 50%;
}

.article .article-left--list {
    padding-left: 0;
}

.article .article-left--item:not(:last-child) {
    margin-bottom: 0.5rem;
}

/* RIGHT */
.article .article-right {
    border: 0.25rem solid var(--clr-border);
    width: 50%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
