@import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css);

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    color: rgb(74, 74, 74);

    border-radius: 50%;
    padding: 8px 9px;
    margin: 10px;
    background-color: rgb(227, 227, 227);
}


.facebook:hover {
    color: blue;
} 

.twitter:hover {
    color: lightblue;
} 

.google:hover {
    color: red;
} 

.linkedin:hover {
    color: blue;
} 

.instagram:hover {
    color: gray;
}
